/* Chrome, Safari, Edge, Opera */
.remove_arrow_right::-webkit-outer-spin-button,
.remove_arrow_right::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.remove_arrow_right[type=number] {
  -moz-appearance: textfield;
}

.ant-checkbox{
  border: 1px solid black !important;
  border-radius: 5px;
}
.ant-checkbox[type=checked]{
  border: none;
}