/* Chrome, Safari, Edge, Opera */
.remove_arrow_right::-webkit-outer-spin-button,
.remove_arrow_right::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.remove_arrow_right[type=number] {
  -moz-appearance: textfield;
}

.ant-btn-sm{
  background-color: rgb(0, 125, 226) !important;
}

:where(.css-dev-only-do-not-override-9ntgx0).ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: none !important;
}

:where(.css-dev-only-do-not-override-9ntgx0).ant-select-dropdown .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: #808080 !important;
}