/* Chrome, Safari, Edge, Opera */
.remove_arrow_right::-webkit-outer-spin-button,
.remove_arrow_right::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.remove_arrow_right[type=number] {
  -moz-appearance: textfield;
}